frontend/node_modules/
frontend/build/
backend/.env
frontend/.env
/.env
/.env.production.local
**/.env
!**/.env.example
frontend/*.tsbuildinfo
backend/api-gateway/node_modules/
backend/api-gateway/dist/
backend/api-gateway/*.tsbuildinfo
backend/*-service/node_modules/
backend/*-service/dist/
backend/*-service/*.tsbuildinfo
data-toBeDeleted
/backups/*
!/backups/.gitkeep
/docs/
